/* div.container {
    display: inline-block;
} */

div.cell {
    width: 40px;
    height: 40px;
    margin: 10px;
    background-color: gray;
    display: inline-flex;
}

div.cell.highlight {
    background-color: lightblue;
}