div.box {
    border: 1px solid black;
    display: inline-block;
    position: relative
}

div.cell {
    width: 40px;
    height: 40px;
    margin: 10px;
    background-color: gray;
    display: inline-flex;
}

div.cell.highlight {
    background-color: lightblue;
}

div.drag-box {
    position: fixed;
    z-index: 9999;
    border: 1px dashed black;
    background-color: lightblue;
    opacity: .3;
}