div.carousel {
    display: inline-flex;
    align-items: center;
    min-width: 500px;
}

img.carousel-img {
    width: 400px;
    height: 300px;
}

div.carousel-btn-div {
    width: 50px;
    margin: auto;
}

button.carousel-btn {
    margin: auto;
    display: block;
}