div.carousel {
    display: inline-flex;
    align-items: center;
    min-width: 500px;
}

div.carousel-img-holder-main {
    max-width: 300px;
    max-height: 200px;
}

div.carousel-img-holder-side {
    max-width:200px;
    max-height:10px;
}

img.carousel-img {
    width: 100%;
    height: 100%;
}

/* img.carousel-img-main {
    width: 100%;
    height: 100%;
}

img.carousel-img-side {
    width: 50%;
    height: 50%;
} */


div.carousel-btn-div {
    width: 50px;
    margin: auto;
}

button.carousel-btn {
    margin: auto;
    display: block;
    background-color: lightblue;
    border-radius: 8px;
    border: 1px black solid;
}